@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@1000;ital,wght@0,1000;1,1000&display=swap');

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000000;
    background-size: cover;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    position: relative;
    overflow: hidden;
  }
  
  .login-page::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('https://cdn.hovia.com/app/uploads/black-paint-brush-stroke-squiggle-wallpaper-mural-Plain.jpg') no-repeat center center;
    opacity: 0.3; 
    z-index: 0; 
  }

  .login-page > * {
    position: relative; /* Make content stack above the overlay */
    z-index: 1;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-input {
    width: 500px;
    height: 50px; 
    padding: 10px;
    margin-bottom: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: 'JetBrains Mono', monospace;
  }
  
  .login-b {
    width: 150px;
    height: 70px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.3s;
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.3em;
  }
  
  .login-b:hover {
    background-color: #818181;
  }
  
  .LoginTitle {
    font-size: 4em;
    color: white;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: 1000;
  }

  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  