@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@1000;ital,wght@0,1000;1,1000&display=swap');

.selection-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #000000;
    background-size: cover;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.TopPadding {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: right;
    align-items: right;
}

.SelectionTitle {
    font-size: 5em;
    color: white;
    font-style: italic;
    font-weight: 1000;
}

.TextTitle {
    font-size: 1.5em;
    color: white;
    margin-bottom: 30px;
    font-weight: 400;
}

.StreamingContainer {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    height: 9000px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.StreamingContainer::-webkit-scrollbar {
    width: 12px;
    border-radius: 12px;
}
  
.StreamingContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid #000;
}
  
.StreamingContainer::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 10px;
}

.Spotify {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/spotifylogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.AmazonMusic {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/amazonmusiclogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.Tidal {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-color: #FFFFFF;
    background-image: url('./img/tidallogo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.YoutubeMusic {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/youtubemusiclogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.AppleMusic {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/ituneslogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.Pandora {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/pandoralogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.Deezer {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-color: #FFFFFF;
    background-image: url('./img/deezerlogo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.SoundCloud {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/soundcloudlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.Qobuz {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/qobuzlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.IHeartRadio {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/iheartradiologo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.JioSaavn {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/jiosaavnlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.Anghami {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/anghamilogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.EightTracks {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/8trackslogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.Idagio {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/idagiologo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.Boomplay {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/boomplaylogo.png');
    background-size: 110% 110%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.LiveOne {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/liveonelogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.BandCamp {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/bandcamplogo.png');
    background-size: 110% 110%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.KKBox {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/kkboxlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.Gaana {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/gaanalogo.png');
    background-size: 110% 110%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.SiriusXM {
    display: inline-block;
    width: 175px;
    height: 175px;
    margin: 10px;
    background-image: url('./img/siriusxmlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
    border: none;
}

.SelectedPlatforms {
    width: 100%;
    height: 2500px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SpotifyDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/spotifylogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.AmazonMusicDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/amazonmusiclogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.TidalDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-color: #FFFFFF;
    background-image: url('./img/tidallogo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.YoutubeMusicDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/youtubemusiclogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.AppleMusicDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/ituneslogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.PandoraDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/pandoralogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
}

.DeezerDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-color: #FFFFFF;
    background-image: url('./img/deezerlogo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.SoundCloudDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/soundcloudlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.QobuzDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/qobuzlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.IHeartRadioDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/iheartradiologo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.JioSaavnDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/jiosaavnlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.AnghamiDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/anghamilogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.EightTracksDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/8trackslogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.IdagioDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/idagiologo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.BoomplayDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/boomplaylogo.png');
    background-size: 110% 110%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
}

.LiveOneDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/liveonelogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
}

.BandCampDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/bandcamplogo.png');
    background-size: 110% 110%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
}

.KKBoxDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/kkboxlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
}

.GaanaDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/gaanalogo.png');
    background-size: 110% 110%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden; 
}

.SiriusXMDisplay {
    display: inline-block;
    width: 125px;
    height: 125px;
    margin: 10px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 15px;
    border-width: 5.5px;
    background-image: url('./img/siriusxmlogo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 16px;
    overflow: hidden;
}

.Spotify, .AmazonMusic, .Anghami, .AppleMusic, .BandCamp, .Boomplay, .Deezer, .EightTracks, .Gaana, .Idagio, .IHeartRadio, .JioSaavn, .KKBox, .LiveOne, .Pandora, .Qobuz, .SiriusXM, .SoundCloud, .Tidal, .YoutubeMusic {
    position: relative;
    overflow: hidden;
}

.Spotify::after, .AmazonMusic::after, .Anghami::after, .AppleMusic::after, .BandCamp::after, .Boomplay::after, .Deezer::after, .EightTracks::after, .Gaana::after, .Idagio::after, .IHeartRadio::after, .JioSaavn::after, .KKBox::after, .LiveOne::after, .Pandora::after, .Qobuz::after, .SiriusXM::after, .SoundCloud::after, .Tidal::after, .YoutubeMusic::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 0.3s ease;
    border-radius: 16px; 
}

.Spotify:hover::after, .AmazonMusic:hover::after, .Anghami:hover::after, .AppleMusic:hover::after, .BandCamp:hover::after, .Boomplay:hover::after, .Deezer:hover::after, .EightTracks:hover::after, .Gaana:hover::after, .Idagio:hover::after, .IHeartRadio:hover::after, .JioSaavn:hover::after, .KKBox:hover::after, .LiveOne:hover::after, .Pandora:hover::after, .Qobuz:hover::after, .SiriusXM:hover::after, .SoundCloud:hover::after, .Tidal:hover::after, .YoutubeMusic:hover::after {
    background: rgba(0, 0, 0, 0.5);
}

.NextButton {
    width: 100px;
    height: 50px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 20px;
    font-family: 'JetBrains Mono', monospace;
}

.NextButton:hover {
    background-color: #858585;
}